@import 'https://fonts.googleapis.com/css?family=Raleway|Open+Sans|Bad+Script|Fredericka+the+Great|Montserrat|Roboto';
/*@import 'https://fonts.googleapis.com/css?family=Pacifico';*/

/*font-family: 'Crimson Text', serif;
font-family: 'Allerta', sans-serif;
font-family: 'Raleway', sans-serif;
font-family: 'Roboto Condensed', sans-serif;*/
/*font-family: 'Pacifico', cursive;*/
/*font-family: 'Open Sans', sans-serif;*/
/*font-family: 'Roboto', sans-serif;*/


body{
    padding-top: 50px;
    position: relative;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Open Sans', sans-serif;
    
}
p, span{
    font-family: 'Raleway', sans-serif;
}
.banner{
  /*background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  width: 100%;
  height: 75%;*/
  background-image: url(../images/planning.jpg);
  background-position: center center;
  background-size: cover;
  height: 550px;
  padding-top: 0;
  margin-top: 0;
}


.navbar{
    border-radius: 0;
    border: 0;
}
/**  Header Navigation **/

header .navbar {
  padding:  0;
}

header .navbar-default {
  background: white;
  border-bottom: 1px solid 	#D3D3D3;
  
}
.navbar-btn{
   font-family: 'Open Sans', sans-serif; 
   color: grey;
   font-family: 'Open Sans', sans-serif;
   font-size: 0.95em;
   font-weight: 500;
}
header .navbar-default .navbar-nav a {
  color: grey;
  font-family: 'Open Sans', sans-serif;
  font-size: 0.95em;
  
}

header .navbar-default .navbar-nav a:hover {
  color: #D79500;
}

header .navbar-default .navbar-nav .active a {
  font-weight: 700;
  color: #D79500;
  background: transparent;
  border-bottom: 2px solid  #D79500;;
  text-shadow: none;
}
.navbar-header .navbar-brand {
    color: #D79500;
    font-size: 1.8em;
    font-family: 'Fredericka the Great', cursive;
/*    padding: 10px 40px 5px 5px;*/
    margin-bottom: 10px;

}
.navbar-header .navbar-brand .subhead{
    
    font-family: 'Bad Script', cursive;
    font-size: 0.7em;
    display: block;
    
}
.navbar-header .navbar-brand a:hover {
    color: #D79500;;
}
.navbar-toggle {
    color: #D79500;
}
header .navbar-default .navbar-nav .active a:hover {
  color: #D79500;;
  background: transparent;
  text-shadow: none;
  font-weight: 100;
  border-bottom: 1px solid  #D79500;;
}
/*Homepage Section*/


.page{
    margin-top: 70px;
    margin-bottom: 100px;
/*    padding: 0;*/
    
    
    
}
.page .row{
     padding-top: 0;
    
}
.page hr {
    border: 1px solid #d79500;
}

/*Professionals*/
.prof {
    padding: 0;
}
.professional{
    font-weight: 700;
    text-align: right;
}
.professional .desc{
    display: block;
    color:#d79500;
    
}
.weAre{
    padding-top: 0;
}
.weAre p{
    text-align: right;
}

/*Services*/

.lgClass{
    color:#D3D3D3;
    font-size: 5em;
    font-weight: 500;
    font-family: 'Montserrat', sans-serif;
}
.serv {
    padding: 0;
} 

.services {
    margin-top: 0px;
    padding: 0;
}
.servDesc{
    padding-left: 10px;
}
.servDesc p{
    font-size: 0.8em;
    margin-top: 30px;
    border-left: 2px solid #d79500;
    padding-left: 10px;
    margin-bottom: 50px;
    color: black;
}
.servDesc h4{
    color: black;
    font-weight: 400;
    
}

.row [class*="col-"]{
  margin-bottom: -99999px;
  padding-bottom: 99999px;
}

.row{
  overflow: hidden; 
}
.first{
    margin-bottom: 50px;
}
.work {
    background: #000000;
}

/* What we do*/

.steps .num {
    
    color: #d79500;
    font-size: 6em;
    font-weight: 400;
}
.steps .content{
    border-top: 2px solid #d79500;
    padding-top: 5px;
}
.steps .content p {
    color: #bdbdbd;
    font-size: 0.75em;
    padding-bottom: 10px;
}
 /* Blogs*/  
 .blogs{
  
 }
.blogs h4 {
    font-weight: 600;
    text-decoration: none;
}
.blogs p a{
    color:black;
    font-size: 0.85em;
    margin-top: 15px;
    margin-bottom: 15px;
    text-decoration: none;
    
}  
.blogs a{
  color:black;
  text-decoration: none;
}

.blogs span{
    font-size: 0.7em;
}

.blogs hr {
    border: 1px solid #d3d3d3;
    margin-bottom: 5px;
}
.blogs .glyphicon{
    color: #d79500;
} 
/* Footer*/
footer{
    background-image: url(../images/footer.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    min-height: 450px;
    height: 80%;
    margin-top: 40px;
    
}
footer .row{
    color: #d79500;
    min-height: 300px;
}
footer .opak{
  background-color:  rgba(0, 0, 0, 0.75);
  padding: 90px;
}
.opak h1{
  font-family: 'Fredericka the Great', cursive;
  font-size: 4em;
  line-height: .5;
}

.opak h4{
  padding-top: 20px;
  border-bottom: 1px solid #d3d3d3;
}
.opak span{
  font-family: 'Montserrat', sans-serif;
  line-height: .5;
  font-size: 1.4em;
}
.opak .otherAddress{
  line-height: 0.7;
   margin-top: 60px;
}
.opak .address{
  line-height: 0.5;
  margin-top: 40px;
}
.opak h3{
  width   : 100%;
  height  : 30px;   
  position: relative;
  z-index : 4;
  
 
  

}
.opak h3:before{
    content : "";
  position: absolute;
  left    : 0;
  bottom  : 0;
  height  : 1px;
  width   : 20%;  /* or 100px */
  border: 1px solid #696969;
}
/*Blogs Page*/
.blog h3{
  width   : 100%;
  height  : 30px;   
  position: relative;
  z-index : 5;
  
 
  

}
.blog h3:before{
    content : "";
  position: absolute;
  left    : 0;
  bottom  : 0;
  height  : 1px;
  width   : 10%;  /* or 100px */
  border: 1px solid #d79500;
}
.blogsPage{
  min-height: 500px;
  margin-top: 50px;
}

/*Cheron*/
.chevron{
  margin:0;
}
.chevron{ 
 position: relative;


}
.lefttChevy {
  position: fixed;
  top: 350px;
  left: 0;
  display: block;
  padding: 50px 15px;
  padding-right: 25px;
  background: black;
  width: 10px;
  z-index: 2;
  color: #d79500;
}
.rightChevy{
  position: fixed;
  top: 350px;
  right: 0;
  display: block;
  padding: 50px 15px;
  padding-right: 25px;
  background: black;
  width: 10px;
  z-index: 2;
  color: #d79500;
}
 .fa-ul{
  color: #d79500;
  position: fixed;
  top: 70px;
  left: 20px;
  display: block;
  width: 10px;
  z-index: 1;

}
.chevron .fa-facebook:hover, .chevron .fa-twitter:hover, .chevron .fa-google-plus:hover, .chevron .fa-linkedin:hover{
  color: #3f3f3f;


}
/*blogHeader*/

.blogHeader{
  border-bottom: 1px solid #d3d3d3;
  margin-bottom: 25px;
}
.blogHeader span{
    font-size: 0.85em;
    font-weight: 700;
}
.blogHeader .glyphicon{
    color: #d79500;
} 
.blogHeader p{
  font-weight: 700;
  font-size: 1.2em;
}
.blogHeader h1{
  font-weight: 700;
  font-size: 3em;
}

/*blogBody*/
.blogBody{
  word-wrap: break-word;
  
}
.blogBody p{
  font-size: 1em;
  line-height: 1.7;
  margin-bottom: 35px;
  font-weight: 600;

  
}
/*Quote*/
.quote{
  background-image: url(../images/blockquote.svg);
  background-repeat: no-repeat;
  background-position: top centre;
  width: 100%;
  height: 100%;
  margin-bottom: 30px;
  padding: 30px 20px 90px 70px;
  font-family: 'Open Sans', sans-serif;
  font-weight:bold;
  font-size: 1.2em;
}
.quote h4{
  margin-top: 18px;
  font-size: .9em;
}
/*blogImage*/
.blogImage img{
  margin-bottom: 25px;
}
.imgContent{

}
 .imgContent img{
  
  margin-right: 15px;
  margin-left: -50px;
  margin-bottom: 15px;
  
}
 .imgContent p{
  
}
.contentImg img{
  
  margin-left: 15px;
  margin-right: -50px;
  margin-bottom: 15px;
  
}
.comments {
    margin-top: 70px;
}
.commentBox, .authorBox{
  font-weight: 700;
}
.commentDate{
  color: #d3d3d3;
}
.commentContent{
  margin-top: 10px;
  font-weight 400;
  font-size: 0.85em;
}
.author h3{
  margin-left: 10px;
}
.authorName{
  color: #d3d3d3;
  font-size: 1.8em;
  font-weight:700;

}
.authorBox p{
  line-height: .8;
}
.author{
  margin-top: 80px;
}